@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #070b14;
  color: #f1f5f9;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
